*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
__pycache__
.Rproj.user
.Rhistory
.RData
_site/pyani/
_site/files/
_site/codecheck/
.bundle/
.vendor/
vendor/
.docker-vendor/
Gemfile.lock
.*history
codecheck/