{% comment %} Header {% endcomment %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3>{{page.venue}}</h3>
			<h2>{{site.title}}</h2>
			<br>
			<div class="row">
				<div class="col-md-6">
					<p>{{page.humandate}}</p>
					<p>
						{% if page.humantime %}{{page.humantime}}{% endif %}
						{% if page.timezone %}{{page.timezone}}{% endif %}
					</p>
				</div>

				<div class="col-md-6">
					<p><strong>Instructors:</strong> {{page.instructor | join: ', ' %}}</p>
					<p><strong>Moderators:</strong> {{page.moderator | join: ', ' %}}</p>
				</div>
			</div>
		</div>
	</div>
</div>