
<h3 id="zoom">Install the videoconferencing client</h3>

<p>
  If you haven't used Zoom before, go to the
  <a href="https://zoom.us/download">official website</a>
  to download and install the Zoom client for your computer.
</p>

<h4>Set up your workspace</h4>

<p>
  Like other bioinformatics workshops,
  you will be learning by "coding along" with the Instructors.
  To do this, you will need to have three windows open at the same time,
  one for the command line shell (powershell/terminal),
  one for the website (to copy commands),
  and one window for the Zoom video conference client.
  In order to see all three at once,
  we recommend using one of the following set up options:
  <ul>
    <li><strong>Two monitors:</strong> If you have two monitors,
      plan to have your terminal and website up on one monitor and
      the video conferencing software on the other.</li>
    <li><strong>Two devices:</strong> If you don't have two monitors,
      do you have another device (tablet, smartphone) with a medium to large
      sized screen? If so, try using the smaller device as your video
      conference connection and your larger device (laptop or desktop)
      to follow along with the terminal and the website.</li>
    <li><strong>Divide your screen:</strong> If you only have one device
      and one screen, practice having three windows
      (the zoom window, a terminal/powershell and the website) open together.
      How can you best fit both on your screen?
      Try it out in advance to decide what will work best for you.</li>
  </ul>
</p>
