<div id="editor">
  <h3>(Recommended) Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words. Installation of one of the suggested 
    text editors is recommended but not necessary.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#editor-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#editor-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#editor-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="editor-windows">
        <p>
          You can use 
          <a href="https://notepad-plus-plus.org/">Notepad++</a> or
          <a href="https://www.sublimetext.com/">Sublime Text</a>
          to edit the code. You can access download page by clicking the
          the name above.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-macos">
        <p>
          You can use 
          <a href="https://www.barebones.com/products/bbedit/">BBedit</a> or
          <a href="https://www.sublimetext.com/">Sublime Text</a>
          to edit the code. You can access download page by clicking the
          the name above.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-linux">
        <p>
          You can use one of the following text editors in linux.
          <ul>
            <li>
              <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>
              <pre>sudo apt-get install gedit</pre>
            </li>
            <li>
              <a href="https://kate-editor.org/">Kate</a>
              <pre>sudo apt-get install kate</pre>
            </li>
            <li>
              <a href="https://www.sublimetext.com/">Sublime Text</a>
              <pre>sudo apt-get install sublime-text</pre>
            </li>
          </ul>
          You can access download page by clicking the
          the name above or install using command line from respective commands.
        </p>
      </article>
    </div>
  </div>
</div>
