<div id="ssh">
    <h3>Remote login by SSH</h3>
    <p>
        Note: If you are using <code>PUTTY</code> to connect, use 
        <a href="https://mediatemple.net/community/products/dv/204404604/using-ssh-in-putty-(windows)">this</a> 
        guide instead.
    </p>
    <ol>
        <li>
            Open Terminal or Powershell.
        </li>
     <li>
        Type the following command and press <kbd>Enter</kbd> key.
        Do not foret to replace
        &lt;username&gt; with your provided username.
        <pre>ssh &lt;username&gt;@hpg.rc.ufl.edu</pre>
     </li>
    <li>
        If you are connecting for the first time, 
    you will be prompted to verify the ECDSA keys as shown below.
    <pre>The authenticity of host 'hpg.rc.ufl.edu (128.227.221.250)' can't be established.
ECDSA key fingerprint is SHA256:z5zVt98Qo+rj0wiWrUhsvuTxVAjFBBePQwcRLq5g2ZI.
Are you sure you want to continue connecting (yes/no/[fingerprint])?</pre>
    </li>
    <li>
        Type <code>yes</code> and press <kbd>Enter</kbd> key.
    </li>
 <li>
    Next, you will be prompted to enter password as shown below. 
    Type the provided password and hit <kbd>Enter</kbd> key.
    <pre>&lt;username&gt;@hpg.rc.ufl.edu's password:</pre>
    Note that, as you type in the password, 
    the typed letters to not appear on the screen.
    That is by design.
 </li>
 </ol>
 <p>
     If you typed your password correctly, 
    you will be able to access HiperGator.
    The following welcome screen will appear.
  </p>
  <p>
    <pre>
      Welcome to UF Research Computing
      ________________________________

The user agrees to comply with Research Computing's policies.

https://www.rc.ufl.edu/services/procedures/

...
...

[&lt;username&gt;@login2 ~]$</pre>
      If you are unable to login to HiperGator, 
      please contact the instructors.
    </p>
</div>