<div id="ssh-client">
  <h3>Accessing SSH</h3>
  <p>
    University of Florida has a supercomputer cluster with latest generation
    of processors for memory intensive computings called 
    High-Performance Cluster (or HiperGator in short).
    We will connect to HiperGator from your computer using SSH.
    The SSH protocol (also referred to as Secure Shell) 
    is a method for secure remote login from one computer to another.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#shell-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="shell-windows">
        <p>
          Windows does not have SSH client by default. However, 
          SSH can be added from Optional Features in recent version
          of Windows 10. This can be performed through GUI or commandline.
        </p>
        <h4>Using graphical interface</h4>
        <ol>
          <li>
            Search for <code>optional</code> in windows search 
            (<kbd>Win</kbd> + <kbd>S</kbd>) and click on 
            <strong>Manage Optional features</strong>.
          </li>
          <li>
            Check if <strong>OpenSSH Client</strong> is present in the 
            list of installed features. If it is present, SSH client is installed, 
            so you can skip rest of the steps.
          </li>
          <li>
            Click on <strong>Add a feature</strong>. 
            Search for <code>ssh</code>. Click checkbox next to 
            <strong>OpenSSH Client</strong> and click <strong>Install</strong>.
          </li>
          <li>
            Wait for the install to complete.
          </li>
        </ol>

        <h4>Using command line interface</h4>
        <ol>
          <li>
            Open <strong>Powershell</strong> in administrative mode.
            <ul>
              <li>
                Method 1: Search for <code>powershell</code> in windows search 
                (<kbd>Win</kbd>+<kbd>S</kbd>). Right-click on 
                <strong>Windows powershell</strong> and click 
                <strong>Run as administrator</strong>.
              </li>
              <li>
                Method 2: Right click on start button, then click 
                <strong>Windows Powershell (Admin)</strong>.
              </li>
              <li>
                Method 3: Press keyboard shortcut <kbd>Win</kbd>+<kbd>X</kbd>, then click 
                <strong>Windows Powershell (Admin)</strong>.
              </li>
            </ul>
          </li>
          <li>
            Click <strong>Yes</strong> button in UAC prompt.
          </li>
          <li>
            Enter the following:
          </li>
          <pre>Get-WindowsCapability -Online | ? Name -like 'OpenSSH*'</pre>
          <li>
            If the value of <code>state</code> under <code>OpenSSH.Client</code> 
            is <code>Installed</code>, SSH client is present and you can skip next steps.
          </li>
          <li>
            Enter the following:
          </li>
          <pre>Add-WindowsCapability -Online -Name OpenSSH.Client~~~~0.0.1.0</pre>
          <li>
            If the output includes <code>Online: True</code>, then SSH Client is
            successfuly installed.
          </li>
        </ol>
        <p>
          To start using SSH, Open <strong>Powershell</strong>. For this, 
          search for <code>powershell</code> in windows search 
          (<kbd>Win</kbd>+<kbd>S</kbd>) and click on 
          <strong>Windows powershell</strong>. Alternatively, 
          right-click start button or press <kbd>Win</kbd>+<kbd>X</kbd> and 
          click <strong>Windows Powershell</strong>.
        </p>
        <p>
          For ease of access, 
          you may want to pin Powershell in your taskbar for this workshop.
        </p>
        <p>
          Note: Earlier verions of Windows 10 or previous editions of Windows
          do not have <strong>Optional Features</strong>. For such Windows devices,
          we recommend downloading Putty from 
          <a href="https://www.putty.org/">putty.org</a>.
          Please contact the instructors prior to the workshop 
          if you are having difficulty to access SSH Client.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-macos">
        <p>
          SSH client is avilable by default in all versions of macOS, 
          so there is no need to install anything.
        </p>
        <p>
          To start using SSH, open the Terminal either from 
          <code>/Applications/Utilities</code> or by searching for
          <code>terminal</code> in 
          Spotlight (<kbd>Cmd</kbd>+<kbd>Space</kbd>).
        </p>
        <p>
          For ease of access, 
          you may want to pin Terminal in your dock for this workshop.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-linux">
        <p>
          SSH client is avilable by default in most linux distros, 
          so there is no need to install anything.
        </p>
        <p>
          To start using SSH, open the Terminal from Application list.
          Ubuntu based distros can open Terminal with 
          keyboard shortcut <kbd>Alt</kbd>+<kbd>Ctrl</kbd>+<kbd>T</kbd>.
        </p>
        <p>
          For ease of access, 
          you may want to pin Terminal in desktop panel for this workshop.
        </p>
      </article>
    </div>
  </div>
</div>
